
.ContenedorConImagen{
    background: url('https://media.giphy.com/media/ALQ6OXrBDqBWw/giphy.gif') no-repeat top right ;
    background-size: 58vw;
    background-position-y: 20vh;
    background-position-x: top;
}
/*Movil*/
@media only screen
and (min-width: 320px)
and (max-width: 736px)
{
    .ContenedorConImagen{
        background-size: 190% 100vh;
        background-position:top;
    }
}